#popup-container {
    width: 300px;
    padding: 20px;
    border-radius:20px;
}
h2{
    margin-bottom:.4rem;
}

label{
    /* size: 2rem; */
    font-size: 1.2em;
    /* padding-bottom: 1rem; */
}
input{
    padding:.2rem;
    border-radius: 5px;
    margin-top: .2rem;
}
.formgroup{
    margin-top: .5rem;
    background: rgba(0,0,0,0);
}
.form-button{
    margin-top: .2rem;
    display: inline-block;
    padding: 5px 8px;
    border: none;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.form-button:hover {
    background-color: #2980b9;
}
.timer {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    background-color: #f9f9f9;
}

#display {
    font-size: 2em;
}
.buttons{
    display:flex;
}
.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

/* Styling for Colour Rules Table */
#rulesTable {
    width: 300px;
    border-collapse: collapse;
}

#rulesTable th, #rulesTable td {
    border: 1px solid #ddd;
    padding: 8px;
}
.container {
    position: relative;
    /* width: 100%; */     /* Occupies full width of the viewport */
    height: 100%;    /* Occupies full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
    display: flex;   /* Enables horizontal layout for inner containers */
    /* overflow: hidden; */
    width: 250px;
    right:0px;
    transition: right .3s ease-in,width 0.2s ease-in;
  }

  
  .inner-container {
    flex: 1;
    /* width:250px; */         /* Makes each inner container take up equal space */
    background-color: white;  /* Background color for the content area */
    padding: 20px;   /* Optional: Padding for content */
  }
  #move{
    position: fixed;
    padding: 5px;
    right: 20px;
    border:none;
    border-radius:5px;
    background:none;
    /* font-size: 2rem; */
  }
  #move:hover, #move-back:hover{
   background:#ddd;
  }
  .container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px; /*adjust the padding value as per your requirement*/ 
}

